{% extends "profile.html" %} {% block title %} eDocs - Change Password {%
endblock title %} {% block profile %}

<div class="change-pass-main">
  <form action="/change-password" method="post">
    <input type="email" name="email" value="{{email}}" hidden />
    <div class="input-block">
      <p id="label">Current Password</p>
      <div class="password-block" id="curPassBlock">
        <input
          type="password"
          id="curPassword"
          name="curPassword"
          value="{{curPassword or ''}}"
          placeholder="Current Password Here"
          required
        />
        <button onclick="toggleCurPassword()" type="button">
          <i id="curPassIcon" class="fa-solid fa-eye-slash"></i>
        </button>
      </div>
      {% if incorrectTxt %}
      <p class="errorTxt" id="incorrectTxt">
        <i class="fa-solid fa-circle-exclamation"></i>
        Incorrect Password
      </p>
      {% endif %}
    </div>
    <div class="input-block">
      <p id="label">New Password</p>
      <div class="password-block" id="newPassBlock">
        <input
          type="password"
          name="password"
          id="newPassword"
          placeholder="New Password Here"
          minlength="4"
          maxlength="10"
          pattern="(?=.*[a-z])(?=.*[A-Z]).{4,10}"
          title="Must contain 4 to 10 characters with atleast one uppercase character"
          required
        />
        <button onclick="toggleNewPassword()" type="button">
          <i id="newPassIcon" class="fa-solid fa-eye-slash"></i>
        </button>
      </div>
      <div class="strength-pass">
        <p id="weak" style="display: none">Weak</p>
        <p id="medium" style="display: none">Medium</p>
        <p id="strong" style="display: none">Strong</p>
      </div>
    </div>
    <div class="input-block">
      <p id="label">Confirm Password</p>
      <div class="password-block" id="conPassBlock">
        <input
          type="password"
          id="cpassword"
          placeholder="Confirm Password Here"
          required
        />
        <button onclick="toggleConPassword()" type="button">
          <i id="conPassIcon" class="fa-solid fa-eye-slash"></i>
        </button>
      </div>
      <p class="errorTxt" id="notMatchTxt" style="display: none">
        <i class="fa-solid fa-circle-exclamation"></i>
        Password does not match
      </p>
    </div>
    <button type="submit" id="submitBtn">Update Password</button>
  </form>
</div>

<script>
  const curPassword = document.getElementById("curPassword");
  const newPassword = document.getElementById("newPassword");
  const cPassword = document.getElementById("cpassword");
  const curPassIcon = document.getElementById("curPassIcon");
  const newPassIcon = document.getElementById("newPassIcon");
  const conPassIcon = document.getElementById("conPassIcon");
  const weak = document.getElementById("weak");
  const medium = document.getElementById("medium");
  const strong = document.getElementById("strong");
  const submitBtn = document.getElementById("submitBtn");
  const notMatchTxt = document.getElementById("notMatchTxt");
  const incorrectTxt = document.getElementById("incorrectTxt");
  const curPassBlock = document.getElementById("curPassBlock");
  const newPassBlock = document.getElementById("newPassBlock");
  const conPassBlock = document.getElementById("conPassBlock");

  function toggleCurPassword() {
    if (curPassword.type === "password") {
      curPassword.type = "text";
      curPassIcon.classList.remove("fa-eye-slash");
      curPassIcon.classList.add("fa-eye");
    } else {
      curPassword.type = "password";
      curPassIcon.classList.remove("fa-eye");
      curPassIcon.classList.add("fa-eye-slash");
    }
  }

  function toggleNewPassword() {
    if (newPassword.type === "password") {
      newPassword.type = "text";
      newPassIcon.classList.remove("fa-eye-slash");
      newPassIcon.classList.add("fa-eye");
    } else {
      newPassword.type = "password";
      newPassIcon.classList.remove("fa-eye");
      newPassIcon.classList.add("fa-eye-slash");
    }
  }

  function toggleConPassword() {
    if (cPassword.type === "password") {
      cPassword.type = "text";
      conPassIcon.classList.remove("fa-eye-slash");
      conPassIcon.classList.add("fa-eye");
    } else {
      cPassword.type = "password";
      conPassIcon.classList.remove("fa-eye");
      conPassIcon.classList.add("fa-eye-slash");
    }
  }

  //   curPassword.addEventListener("input", () => {
  //     if (curPassword.value != "{{password}}") {
  //       curPassBlock.style.boxShadow = "0px 0px 0px 1px #da1e37";
  //       incorrectTxt.style.display = "inline";
  //     } else {
  //       curPassBlock.style.boxShadow = "none";
  //       incorrectTxt.style.display = "none";
  //     }
  //   });

  newPassword.addEventListener("input", () => {
    const value = newPassword.value;

    if (value.length === 0 || value.length < 4) {
      weak.style.display = "none";
      medium.style.display = "none";
      strong.style.display = "none";
    }
    if (value.length >= 4 && value.length <= 10) {
      weak.style.display = "inline";
      medium.style.display = "none";
      strong.style.display = "none";
    }
    if (
      value.length >= 6 &&
      value.length <= 10 &&
      /[!@#$%^&*().,/]/.test(value)
    ) {
      weak.style.display = "none";
      medium.style.display = "inline";
      strong.style.display = "none";
    }
    if (
      value.length >= 6 &&
      value.length <= 10 &&
      /[A-Z]/.test(value) &&
      /[a-z]/.test(value)
    ) {
      weak.style.display = "none";
      medium.style.display = "inline";
      strong.style.display = "none";
    }
    if (
      value.length >= 6 &&
      value.length <= 10 &&
      /[A-Z]/.test(value) &&
      /[!@#$%^&*().,/]/.test(value)
    ) {
      weak.style.display = "none";
      medium.style.display = "inline";
      strong.style.display = "none";
    }
    if (
      value.length >= 6 &&
      value.length <= 10 &&
      /[a-z]/.test(value) &&
      /[!@#$%^&*().,/]/.test(value)
    ) {
      weak.style.display = "none";
      medium.style.display = "inline";
      strong.style.display = "none";
    }
    if (
      value.length >= 6 &&
      value.length <= 10 &&
      /[A-Z]/.test(value) &&
      /[a-z]/.test(value) &&
      /\d/.test(value)
    ) {
      weak.style.display = "none";
      medium.style.display = "none";
      strong.style.display = "inline";
    }
    if (
      value.length >= 6 &&
      value.length <= 10 &&
      /[A-Z]/.test(value) &&
      /[a-z]/.test(value) &&
      /[!@#$%^&*().,/]/.test(value)
    ) {
      weak.style.display = "none";
      medium.style.display = "none";
      strong.style.display = "inline";
    }
  });

  cPassword.addEventListener("input", () => {
    if (newPassword.value != cPassword.value) {
      conPassBlock.style.boxShadow = "0px 0px 0px 1px #da1e37";
      notMatchTxt.style.display = "inline";
    } else {
      conPassBlock.style.boxShadow = "none";
      notMatchTxt.style.display = "none";
    }
  });
</script>

{% endblock profile %}
