<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {{appNo}} {% endblock title %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/images/file-circle-check-solid.svg') }}"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="view-doc-main">
      <iframe src="{{appPath}}" frameborder="0"></iframe>
    </div>
  </body>
</html>
